body {
    background-color: #121b32;
    color: #839496;
    font-family: monospace;
    margin: 0;
    padding: 20px;
    line-height: 1.4;
    font-size: 22px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.prompt {
    margin-bottom: 10px;
    font-weight: bold;
}
.prompt::before {
    content: "ghost@55server:~$ ";
    color: #93a1a1;
}
.output {
    margin-bottom: 20px;
}
.files {
    margin-left: 20px;
}
.file {
    display: flex;
    margin-bottom: 5px;
}
.file-permissions {
    margin-right: 15px;
    color: #2aa198;
}
.file-owner {
    width: auto;
    margin-right: 15px;
    color: #b58900;
}
.file-group {
    width: auto;
    margin-right: 15px;
    color: #b58900;
}
.file-size {
    width: 60px;
    margin-right: 15px;
    text-align: right;
    color: #d33682;
}
.file-date {
    width: auto;
    margin-right: 15px;
    color: #2aa198;
}
.file-name {
    color: #839496;
}
.file-name a {
    color: #839496;
    text-decoration: none;
}
.file-name a:hover {
    text-decoration: underline;
}
.cursor {
    display: inline-block;
    width: 10px;
    height: 18px;
    background-color: #839496;
    animation: blink 1s infinite;
}
.directory {
    color: #268bd2;
}
@keyframes blink {
    0%,
    49% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}
.message {
    margin-bottom: 20px;
    color: #dc322f;
    border-left: 3px solid #dc322f;
    padding-left: 10px;
}
@media screen and (max-width: 768px) {
    .file-permissions {
        display: none;
    }

    .file-owner {
        display: none;
    }

    .file-group {
        display: none;
    }

    .file-size {
        display: none;
    }

    .file-date {
        margin-right: 10px;
    }
}
